#scene {
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% 200px;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
}

.side {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: rgba(50, 50, 50, 0.3);
  text-align: center;
  font-size: 100px
}


.back {
  transform: translateZ(-200px) rotateX(180deg);
}
.top {
  transform: translateY(-200px) rotateX(90deg);
}
.bottom {
  transform: translateY(200px) rotateX(270deg);
}
.front {
  transform: translateZ(200px);
}